.test-paper-page
{
    margin: 0px;
    padding: 0px;
    /* background-color: antiquewhite; */
    background-image: linear-gradient(to left top ,rgba(246, 239, 203, 0.9), rgba(232, 228, 223,0.2));

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.test-paper-head 
{
    padding: 5px;
    margin-top: 5px;
    text-shadow: 2px 2px 10px gray;
    font-size: 30px;
    font-weight: 600;
    color: rgb(2, 57, 12);
}
.test-paper-content
{
    border: 2px solid blue;
    margin: 10px;
    width: 60%;
    border-radius: 8px 8px;
    padding: 5px;
    box-shadow: 5px 8px 8px gray;
   
}
.select-question
{
    /* border: 2px solid green; */
    margin: 10px;
    display: grid;
    column-gap: auto auto;
    row-gap: 5px;
    grid-template-columns: auto auto;

   
}
.question-box
{
    border: 2px solid green;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px 10px;
    padding-left: 5px;
    width: 100%;
    max-width: 550px;
} 
.qhead p 
{
    margin-bottom: 0px;
}
.select-question-foot 
{
    border: 2px solid black;
    border-width: 2px 0px 0px 0px;
    margin-top:0px ;
    width: 100%;
    padding: 3px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    max-width: 500px;
}
.select-question-foot input 
{
    height: 20px;
    width: 20px;
}
.select-question .qimg
{
    height: 250px;
    width: 100%;
    max-width: 500px;
}
.select-question .qimg img 
{
    height: 100%;
    width: 100%;
    border: 1px solid rgb(233, 224, 224);

}
.test-paper-form 
{
    border: 2px solid rgb(1, 34, 7);
    margin: 10px;
    padding: 10px;
    display: grid;
    column-gap: auto auto;
    row-gap: 5px;
    grid-template-columns: auto auto;
    border-radius: 10px 10px;
    background-image: linear-gradient(to left top ,rgba(164, 235, 148, 0.9), rgba(255, 255, 255, 0.2));

}
.test-paper-form .form-item 
{
    margin: 5px;
}
.test-paper-form .form-item label
{
    font-size: 23px;
    font-weight: 400;
   
}
.test-paper-form .form-item input
{
    border: 2px solid rgb(53, 52, 52);
    border-radius: 5px 5px;
    padding: 2px;
    font-size: 18px;
    font-weight: 400;
    max-height: 50px;

   
    
}
#time-input-section
{
    display: flex;
    flex-direction: row;

}
#time
{
    display: flex;
    flex-direction: row;
   
}
#time input 
{
    width: 80px;
    margin: 2px;
}
#total-number-que input 
{
    width: 95px;
}
.qheader 
{
    margin: 15px;
    margin-bottom:2px ;
    /* border: 2px solid red; */
    text-align: center;
   
}
@media(max-width:900px){

    .test-paper-form 
    {
        margin: 10px;
        padding:5px;
        display: grid;
        column-gap: auto ;
        grid-template-columns: auto ;
    }
    .test-paper-content
    {
    width: 90%;
    }
    #time-input-section
    {
    flex-direction: column;
   
    }
    #time input 
    {
    width: 80px;
    margin: 2px;
    }
    .select-question
    {
   
    column-gap: auto ;
    row-gap: 5px;
    grid-template-columns: auto ;
   
    }
  
  }