*{
    margin: 0;
    padding:0;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 
 /* .nav-item::after{
     content: ' ';
     width: 0%;
     height: 2px;
     background: #f44336;
     display: block;
     margin: auto;
     transition: 0.5s;
 
 }
 .nav-item a:hover::after{
     width: 100%;
 } */
 
 
 
 
 .card .custom-header {
     background-color: #226e0f; /* Pink color */
 
     
 }
 .card{
     background-image: linear-gradient(to left,#8fd290, #8fd292, #59c256,#59c257);
     box-shadow: 0px 20px 120px rgb(20, 34, 6) ;
 }
 .card-header{
     display: flex;
     align-items: center;
     justify-content: center;
   }
   .card-header h4{
     text-shadow: 1px 2px 5px rgb(0, 0, 0);
   }
 
 .form-btn{
     display: flex;
     align-items: center;
     justify-content: space-around;
     margin: 10px;
     /* border: 2px solid black; */
     padding: 10px;
     margin-top: 20px;
     border-radius: 10px;
     box-shadow: 10px 10px 100px rgb(186, 232, 118);
     flex-wrap: wrap;
 
 }
 .form-label
 {
     font-weight: 100px;
     font-size: 18px;
     color: black;
 }
 
 
 .nav-item {
     font-size: 17px;
     color: black;
     font-weight:500;
     
   }
  
   .collapse ul li ::after{
     content: ' ';
     width: 0%;
     height: 2px;
     background: #f44336;
     display: block;
     margin: auto;
     transition: 0.5s;
   }
   
   .collapse ul li :hover:after{
     width:100%;
   }
 
 @media(max-width:900px)
 {
     .collapse ul li
     {
        width: 10%;
     }
 }
 @media(max-width:700px)
 {
     .header div.textbox h1{
         font-size: 20px;
     }
     div.menu
     {
         position: relative;
         background: #f44336;
         height: 200vh;
         width:20px;
         text-align: left;
 
 
     }
     .collapse ul li
     {
        width: 10%;
     }
    
     .collapse ul li :hover:after{
         width:100%;
        
       }
    
     
 }
 
 