.room-page{
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgb(208, 187, 158), rgb(244, 235, 224));
}
.room{
  height: 60%;
  max-height: 70%;
  width:40%;
  overflow: auto;
  border-radius: 5px 5px 5px 5px;
  border: 2px solid black;
  background-color: #ece5dd;
  background-image: linear-gradient(to top ,#ece5dd , rgb(244, 240, 201));
  padding: 5px;
  display: flex;
  flex-direction: column-reverse;
  box-shadow: 5px 5px 20px rgb(77, 80, 76);
  
}
.user-msg{
  margin: 1px;
  display: flex;
  align-items: flex-start;    
  justify-content: flex-end;   
  flex-direction: row;
  padding-top: 2px;
  padding-bottom: 0px;
 
}
.group-msg{
  margin: 1px;
  display: flex;
  align-items: flex-start;    
  justify-content: flex-start;   
  flex-direction: column;
  padding-top: 2px;
  padding-bottom: 0px;
  max-width: 70%;
}
.room p
{
  text-align: start;
  border: 1px solid rgb(70, 1, 65);
  padding: 5px;
  border-radius: 10px 0px 10px 10px;
  margin-bottom: 0px;
  background-color: #e1e59a;
  color: #131312;
  max-width: 70%;
}
.group-msg p{
  border-radius: 0px 10px 10px 10px;
  background-color: #eab6ef;
  background-image: linear-gradient(to right top , #eab6ef , rgb(239, 224, 238));
  display: flex;
  flex-direction: column;
  color: #000000;
}
.group-msg p small
{
  border: 1px solid gray;
  border-width:0px 0px 1px 0px;
  border-radius: 2px 2px;
  color: rgb(32, 0, 242);
  margin: 1px;
 
}
.room-foot{
  border: 1px solid black;
  border-top: 0px;
  border-radius: 5px 5px;
  width:40%;
  height: 49px;
  box-shadow: 5px 5px 20px rgb(77, 80, 76);
 
}
.room-foot form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.room-foot form .form-item 
{
  height: 48px;
  width: 80%;
  margin-right: 2px;
}
.room-foot form .btn-field{
  height: 48px;
  width: 20%;
} 
.room-foot form .btn-field input
{

 color: azure;
 font-size: 20px;
 border: 1px solid black;
}

.room-foot form input{
  height: 100%;
  width:100%;
}

.room-page{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

@media screen and (max-width: 700px) {
  .room-page{
    height: 100vh;
    width: 100%;
    padding:10px;
    max-height: 1000px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
  .room{
    width: 100%;
    height: 90%;
    margin-top:0px;
    padding-bottom: 10px;
  }
  .room-foot{
   
    border: 1px solid black;
    width:100%;
    position: sticky;
    bottom: 0px;
   
  }
  .room-foot form .form-item 
    {
    height: 46px;
    margin-right: 2px;
 
    }
.room-foot form .btn-field{
  height: 46px;
}

}