.exam-page 
{
    background-image: linear-gradient(rgba(248, 241, 241,0.7),rgba(219, 201, 176, 0.3));
    /* background-image: linear-gradient(rgba(248, 241, 241,0.7),rgba(180, 219, 176, 0.3)); */
    padding: 10px;
  
}
.exam-section  .info-sec 
{
    /* margin: 20px; */
     border: 3px solid rgb(17, 51, 154);
    padding: 10px;
    display: grid;
    height: 20%;
    align-items: center;
    place-items: center;
    place-content: start;
    justify-content: space-around;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 115%;
    background-color: rgb(215, 239, 212);
}
.exam-section  .info-sec .head h4 
{
    font-size: 20px;
    margin: 5px;
    /* border: 2px solid red; */
    
}
.exam-section .info-sec .head 
{
    display: grid;
    height: 90%;
    background-color: rgb(215, 239, 212); 
    position:sticky;
    /* border: 2px solid black; */


}
.exam-section .questionimg .info-sec h4 
{
    font-size: 19px;
    
}
.exam-section .questionimg .info-sec h4 span 
{
    color: rgb(10, 10, 102);
}
.exam-page .exam-header{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   /* margin: 20px; */

}
.exam-page .exam-header h2 
{
    color: rgb(11, 41, 12);
    font-size: 140%;
   border: 2px solid black;
   padding: 10px;
   border-radius: 10px 0px;
   box-shadow: 10px -10px 100px rgb(32, 160, 3);
   /* background-color: rgb(141, 137, 133); */
   background-image: linear-gradient(rgba(200, 202, 210, 0.7),rgba(236, 236, 236, 0.7));

}
.exam-section
{
    margin: 20px;
    /* border: 2px solid royalblue; */
    padding: 10px;
    display: grid;
    column-gap: 30px;
    grid-template-columns: 0fr auto;
    border-radius: 5px;
    margin-top: 0px;
    place-items: start;

   
    /* background-color: greenyellow; */
}
.exam-section .questionimg
{
    /* border: 2px solid red; */
    border:2px solid royalblue;
    border-radius: 10px 10px;

    /* width: 80%; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    display: grid;
    place-items: center;
    padding: 10px;

}

.exam-section .questionimg .qimg small
{
    border: 1px solid green;

}
.exam-section .questionimg .qimg 
{
    border: 3px solid green;
    /* margin: 10px; */
    margin-bottom: 0px;
    width: 90%;
    border-radius: 5px;
    background-color: white;
    align-items: flex-start;
}
.exam-section .questionimg .qimg img 
{
    width: 100%;
}
.exam-section .questionimg .optGroup
{
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 0px;
    padding: 10px;
    width: 90%;
    border-radius: 5px;
}
.exam-section .questionimg .optGroup .options
{
    font-size: 20px;
}
.exam-section .exam-btn
{
    border: 2px solid rgb(17, 51, 154);
   
    width: 90%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

}
.exam-section .exam-btn input
{
    color: white;
    background-color: rgb(44, 89, 225);
    font-size: 18px;
    width: 80px;
    height: 40px;
    border-radius: 4px;
}

.launch-time{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    border: 3px solid rgb(17, 51, 154);
    /* border-top:0px ; */
    border-left:0px ;
    border-right: 0px;
    margin-top: 20px;
    position: sticky;
    top: 0px;
 }
 .launch-time div
 {
   /* flex-basis: 50px; */
   width: 100%;
   margin: 2px;
   height: 10%;
   /* max-width: 150px; */
 }
 .launch-time div #colon
 {
    color: rgb(37, 48, 20);
 }
 .launch-time div p
 {
    font-size: 30px;
    margin-bottom: -14px;
    color: rgb(228, 45, 32);
    /* border: 2px solid green; */
 }
 .launch-time div span {
    margin: 2px;
    font-size: 13px;
    /* border: 2px solid green; */


 }
@media(max-width:700px)
{
    .exam-section
    {
        grid-template-columns: auto;
        margin: 5px;
        padding: 0px;
        padding-top:10px;
        padding-bottom: 10px;
        place-items: center;
        
    }
    .exam-section  .info-sec 
    {
    /* margin: 20px; */
        border: 3px solid rgb(17, 51, 154);
        padding: 10px;
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 5px;
        height: 100%;
        border-radius: 5px;
        margin-bottom: 10px;
        /* place-content: center; */
        width: 90%;
    }
    .exam-section .questionimg 
    {
        width: 90%;
    }
    .exam-section .questionimg .qimg 
    {
       
        width: 100%;
    } 
    .exam-section .questionimg .optGroup
    {
        width: 100%;
    }
    .exam-section .questionimg .qimg img 
    {
        width: 90%;
    }
    .exam-section .questionimg .info-sec{
        width: 100%;

    }
    .exam-section .exam-btn
    {
        width: 100%;
    }
    .launch-time div #colon
    {
       color: rgb(37, 48, 20);
    }
    .launch-time div{
        height: 10%;
    }
    .launch-time div p
    {
       font-size: 25px;
       margin-bottom: -12px;
       color: rgb(228, 45, 32);
    }
    .launch-time div span {
       margin: 2px;
       font-size: 11px;
    }
    
    
}
@media(orientation:landscape)
{
    .exam-section .questionimg .qimg img
    {
        width: 99%;
       max-width: 500px;
    }
    .exam-section .questionimg 
    {
        width: 90%;
    }
    
}
