form
{
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(191, 238, 238);
    display: table;
    width: 100%;
}
input{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    height: 30px;
    font-size: 20px;
}
.questions{
    color: #F64c72;
    font-size: 22px;
}
.options{
    font-size: 22px;
    display: flex;

    /* justify-content: center;
    flex-direction: row; */
}
.options input{
    display: inline;
    width: fit-content;
   height: 25px;
}
.optGroupq1
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin: 10px;
}
.qimg
{
    display: flex;
    justify-content: center;
    min-width: 700px;
    max-width: 200px;
}
