.result-page-content 
{
  display:flex;
  align-items:center;
  justify-content:flex-start;
  flex-direction:column;
  border: 2px solid black;
  border-width:2px 0px 0px 0px;
  height:100%;
  width:100%;
  padding:10px;
  background-image:linear-gradient(to left top , rgba(255, 255, 255, 0.5) ,rgba(189, 189, 189, 0.5) );
}

.result-page-content .candidate-data
{
  display:flex;
  align-items:flex-start;
  justify-content:space-evenly;
  flex-direction:row;
  flex-wrap:wrap;
  border:2px solid rgb(99, 99, 243);
  border-radius:10px 10px;
  background-image: linear-gradient(to left top , rgba(245, 247, 255, 0.4),rgba(242, 247, 183, 0.7));
  padding:10px;
  width:80%;
  margin:10px;
  max-width: 700px;
  box-shadow: 4px 4px 10px gray;
}
.result-page-content span
{
  color: rgb(227, 20, 20);
}
.main-result
{
  display:flex;
  align-items:center;
  justify-content:space-between;
  flex-direction:row;
  border:2px solid rgb(99, 99, 243);
  border-radius:10px 10px;
  width:80%;
  max-width: 700px;
  background-image: linear-gradient(to left top , rgba(245, 247, 255, 0.4),rgba(240, 244, 206, 0.7));
  box-shadow: 4px 4px 10px gray;

 
}
.main-result .success-image
{
  margin-right: 30px;
  
}
.success-image p
{
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;

}
.result-page-content .result-data
{
  display:flex;
  align-items:flex-start;
  justify-content:center;
  flex-direction:column;
  flex-wrap:wrap;
    /* background-image: linear-gradient(rgba(200, 202, 210, 0.7),rgba(236, 236, 236, 0.7)); */
  padding:10px;

  
}

.candidate-data h3  
{
  font-size: 17px;

}
h3 
{
  color: rgb(3, 39, 2);
  font-size: 16px;

}
.button-link
{
  margin:10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border:2px solid rgb(99, 99, 243);
  flex-direction: row;
  width:80%;
  max-width: 700px;
  border-radius: 10px 10px;
  padding: 10px;
  font-size: 20px;
  font-weight:400 ;
  flex-wrap: wrap;
  background-image: linear-gradient(to left top , rgba(245, 247, 255, 0.4),rgba(242, 247, 183, 0.7));
  box-shadow: 4px 4px 10px gray;



}
.button-link p 
{
   font-size: 16px;
}
.button-link a 
{
  padding-top: 10px;
  color: white;
}
.button-link button
{
  height: 35px;
  width: 80px;
  border: 2px solid rgb(116, 116, 130);
  margin: 3px;
  padding: 5px;
  border-radius: 5px 5px;
  background-color: rgb(46, 46, 224);    
  
}
.button-link span :hover
{
  background-color: rgb(46, 224, 90);   
  color: pink;
}
@media(max-width:700px){

  .main-result
  {
    flex-direction:column-reverse;
  }
  .button-link p 
  {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  .result-page-content .candidate-data
  {
    flex-direction: column;
  }
  .result-data 
  {

  }

}
