{% extends 'main.html' %}

{% block title %} home{% endblock title %}
{% load static %}
{%block top %} 
<link rel="stylesheet" href="{% static 'all_test.css' %}" />

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'Test:home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'Test:logout' %}">logout</a>
        </li>
        <li class="nav-item">
         <a class="nav-link active" aria-current="page" href="{% url 'Test:account' %}">Account</a>
        </li>
      </ul>
  </div>

{% endblock top %}
{%block msg %}
    {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show " id="success-alert" role="alert">
        
        <div class="msg-text">{{message}} <strong>{{ request.session.name }}</strong>  </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
  {% endfor %}
{% endblock msg%}


{%block content %}

<div class="all_test_page">
 <div class="all_test">
    <p name="all_test_head">All Test's</p>
  {% for testPaper in testPapers %}
  
  <table class="table table-striped table-hover ">
  
      <thead id="thead">
       
        <tr class="table-success">
         <th scop="col">Test No.</th>
         <th scope="col">Name</th>
         <th scope="col">start_date</th>
         <th scope="col">start_time</th>
         <th scope="col">end_date</th>
         <th scope="col">end_time</th>
         <th scope="col">Code</th>
         <th scope="col">Participate</th>
        </tr>
      </thead>
      <tbody>
      <tr>
      <td>{{forloop.counter}}</td>
      <td>{{testPaper.test_paper_name}}</td>
      <td>{{testPaper.start_date}}</td>
      <td>{{testPaper.start_time}}</td>
      <td>{{testPaper.end_date}}</td>
      <td>{{testPaper.end_time}}</td>
      <td>{{testPaper.code}}</td>
      <td><a href="{% url 'Test:startTestPaper' %}?code={{testPaper.code}}" ><span> click hear</span></a>
      </td>
     </tr> 
    </tbody>    
  </table>
  {% endfor %}

</div>
</div>

{%endblock content%}
