{% extends 'main.html' %}
{% block title %} Candidate result history {% endblock title %}
{% load static %}
{%block top %} 

<link rel="stylesheet" href="{% static 'candidate_history.css' %}" />

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"  href="{% url 'Test:home' %}">Home</a>
            
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"  href="{% url 'Test:logout' %}">Logout</a>
          </li>
        </ul>
    </div>
{% endblock top%}

{%block content %}

   <div class="report-card-page">
    <div class="report-card-header">
    <h1>Report Card</h1>
    </div>
    {% if testAttempted == 1 %}

     <div class="report-card-para">
     <p>Hi <span class="special">{{candidate.name}}</span>,<br> you have attempted in total <span class="special">{{candidate.test_attempted}} </span>tests,<br>you current score is <span class="special">{{ points }}</span> on the scale of 10.</p>
     <p>Current Performance : 
        {%if Status == 1 %}
       <span class="special">Decreasing
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
          <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
        </svg>
       
       </span>
       {% elif Status == 2%}
       <span class="special-inc">Increasing
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
          <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
        </svg>
       </span>
       {% endif %}
      </p>

    </div>

     <div class="pichart-image">
      <div class="pi">
          <div class="image-head">
          <p>This pi chart show all the stat of your exams like how many question you attempted and total right and wrong question </p>
          </div>
         {% if chart %} 
          <img src="data:image/png;base64,{{chart|safe}}" alt="" hight=300 width=300 >
           {% endif %} 
      </div>

      <div class="bar">
          <div class="image-head">
          <p>This Staged bar  chart show all the stat of your each test performance like how many question you attempted and total right and wrong question </p>

          </div>
         {% if bar %} 
         <img src="data:image/png;base64,{{bar|safe}}" alt="" hight=400 width=400 >
          {% endif %}
      </div>
      <div class="bar">
          <div class="image-head">
          <p>This Staged bar  chart show all the stat of your each test performance like how many question you attempted and total right and wrong question </p>

          </div>
         {% if trend %} 
         <img src="data:image/png;base64,{{trend|safe}}" alt="" hight=400 width=400 >
          {% endif %}
      </div>
         
    </div>
   
    <!-- <div class="report-card-table">
     <table>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Attempt</th>
            <th>Right</th>
            <th>Wrong</th>
            <th>Points</th>
        </tr>
        {% for r in results %}
         <tr>
            <td>{{r.date}}</td>
            <td>{{r.time}}</td>
            <td>{{r.attempt}}</td>
            <td>{{r.right}}</td>
            <td>{{r.wrong}}</td>
            <td>{{r.points}}</td>
         </tr>
        {% endfor %}
      </table> -->
    </div>

      {% elif testAttempted == 2 %}
      <h1> No Test attempted</h1>
        {% endif %}
    </div>
{%endblock content%}
