{% extends 'main.html' %}

{% block title %}home{% endblock title %}
{% load static %}
{%block top %} 
<link rel="stylesheet" href="{% static 'home.css' %}" />

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'Test:home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'Test:logout' %}">logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'Test:compete' %}" name="nav_compete">compete</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'Test:uploadQuestion' %}">uploadQuestion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'Test:account' %}">Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'Test:show_room_chat' %}">Discuss</a>
        </li>
      </ul>
  </div>
{% endblock top %}
{%block msg %}
    {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show " id="success-alert" role="alert">
        
        <div class="msg-text">{{message}} <strong>{{ request.session.name }}</strong>  </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
  {% endfor %}
{% endblock msg%}
{% block scripts %}

{%endblock scripts %}

{%block content %}
   
<style>
  
</style>
    <div class="home-page">
      
    <div class="home-page-header">
      <h1> Welcome ,<br> "<span name="homename"> {{ request.session.name }}</span> " to your home page</h1>
   
    <div class="info">

      <div class="points">
      <div class="add-icon" id="icon1"></div>
          <p> Prepare yourself for future by practicing mock test's with testify, </p>
        </div>

      <div class="points">
      <div class="add-icon" id="icon2"></div>
      <p> Here you can get detailed analysis of all test's </p>
        </div>

      <div class="points">
      <div class="add-icon" id="icon3"></div>
      <p>Create Your custome test papers and share with others with the help of test code.</p>
        </div>

      <div class="points">
      <div class="add-icon" id="icon4"></div>
      <p>Give Mock test's of any specific topic you want </p>

        </div>

      <div class="points">
      <div class="add-icon" id="icon5"></div>
      <p> Help other students by Uploading new questions in question bank </p>
      </div>
    </div>
  </div>
       
    
  

    <div class="test-header">
      <h3> Create Your Own Test </h3>
    </div>
    <div class="custome-test"> 
    <form action="{% url 'Test:customs_test_paper' %}" method="post">
      {% csrf_token %}
        <div class="form-item">
          <label for="topic_name">Topic Name</label>
          <input type="text" name = topic_name required placeholder="Enter topic name">
        </div>
        <div class="form-item">
          <label for="total_que">Total number of Question </label>
          <input type="number" name = total_que required placeholder="Enter number of Question">
        </div>
      
        <div class="btn-field">
            <input type="submit" value="Submit"  name='custome_test_paper_btn'> 
          
            <input type = "reset" value = "Clear" required>
        </div>
      
      </form>

    </div>
    
    <div class="custome-test"> 
     <form action="{% url 'Test:startTestPaper' %}" method="post">
      {% csrf_token %}
        <div class="form-item">
          <label for="topic_name">Enter Test code</label>
          <input type="text" name = code required placeholder="Enter code">
        </div>    
        <div class="btn-field">
            <input type="submit" value="Submit" name="paper_set_btn" > 
          
            <input type = "reset" value = "Clear" required>
        </div>
      
      </form>

    </div>

    <div class="test-header">
      <h3>SELECT THE TEST'S</h3>
      </div>
    
      <div class="test">
     <div class = "button-link">
        <!-- <a  href="#exampleModal" class="btnlinclass" data-bs-toggle="modal" data-bs-target="#exampleModal" id="btnlink">
         
          Test of One question <br><span> click hear</span></a> -->
          <!-- <a data-toggle="modal" data-id="@book.Id" title="Add this item" class="open-AddBookDialog"></a> -->
          <!-- <a href="#exampleModal" data-bs-target="#exampleModal" data-toggle="modal" data-book-id="my_id_value">Open Modal</a> -->
          <a href="{% url 'Test:testpaper' %}?n=1" >Test of One question<br><span> click hear</span></a>

     </div>
     <div class = "button-link">
        <a href="{% url 'Test:setTestPaper' %}" name="set_test_paper">set Test Paper<br><span> click hear</span></a>
     </div>
     <div class = "button-link">
        <a href="{% url 'Test:NIMCET_Test' %}" name="NIMCET_link"
       >Test NIMCET<br><span> click hear</span></a>
     </div>
     <div class = "button-link">
        <a href="{% url 'Test:testhistory' %}" name="paper_analysis">Test history<br><span> click hear</span></a>
     </div>
    </div>
  </div>
  <!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade modal-lg" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-4" id="exampleModalLabel">Test Instructions</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       
        <ol>
          <li>Don't Refresh the Page</li>
          <li>Don't press back button</li>
          <li>There is 1 min for each Questions</li>
          <h3 id="modal_body">hello</h3>
        </ol>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="btnlink" >Next</button>
        <!-- <button type="button" class="btn btn-primary"> <a href="{% url 'Test:testpaper' %}?n=1" > 
          Test of One question <br><span> click hear</span></a> click</button> -->
          
       
            <!-- <button type="button">Submit</button> -->
      
        
      </div>
    </div>
  </div>
</div>


  

{%endblock content%}
