{% extends 'main.html' %}

{% block title %}Registration Status{% endblock title %}

{%block top %} 
    <!-- <a href="{% url 'Test:registrationform' %}">SignUp</a>
    <a href="{% url 'Test:login' %}">Login</a> -->
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'Test:registrationform' %}">SignUp</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'Test:login' %}">Login</a>
          </li>
        </ul>
    </div>
{% endblock top%}

{%block content %}
       {% if userStatus == 1 %}
         <div class = "userStatus">
           <h1> Sorry,Username Already exists , please try differn Username</h1>
            <a href="{% url 'Test:registrationform' %}">Back to Candidate Registration Form</a>
         </div> 

        {% elif userStatus == 2 %}
        <div class = "userStatus">
        <h1>Congratulation!! , user Created Susscessfully</h1>
            <a href="{% url 'Test:login' %}">Login</a>
        </div>

        {% elif userStatus == 3 %}
        <div class = "userStatus">
        <h1>
            Opps!! , Something went Wrong</h1>
            <a href="{% url 'Test:registrationform' %}">Back to Candidate Refistration Form</a>

        </div>
       {% endif %}


{%endblock content%}
