{% extends 'main.html' %}

{% block title %}Registration form {% endblock title %}

{%block top %} 
{% load static %}
<link rel="stylesheet" href="{% static 'login.css' %}" />

    <!-- <a href="{% url 'Test:login' %}">Login</a> -->
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'Test:login' %}">Login</a>
          </li>
        </ul>
    </div>
{% endblock top%}


{%block content %}


    
     <!-- <p> Welcome to Online System here you can test your skills</p> -->

     <div class="login-image">
     <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="card">
              
              {% for message in messages %}
              <div class="alert alert-warning alert-dismissible fade show " role="alert">
                <div class="msg-text">{{message}}</div>
             
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
              <div class="card-header custom-header text-white">
                <h4>SignUp</h4>
              </div>
              <div class="card-body">
               
                <form action="{% url 'Test:registrationform' %}" , method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <div class="input-group mb-3">
                          <span class="input-group-text" id="basic-addon1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                              <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                            </svg></span>  
                            <input type="text" class="form-control" id="name" name = name required placeholder="Enter name">
                        </div>
                      </div>

                  <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                         
                    <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1"><svg xmlns="http://www.w3.org/2000/svg" width="23" height="23"  fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                      </svg></span>

                        <input type="text" class="form-control" id="username" name="username" required placeholder="Enter username">

                    </div>
                  <div class="mb-3">
                    <label for="userEmail" class="form-label">Email</label>
                         
                    <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-envelope-at-fill" viewBox="0 0 16 16">
                          <path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2H2Zm-2 9.8V4.698l5.803 3.546L0 11.801Zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 9.671V4.697l-5.803 3.546.338.208A4.482 4.482 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671Z"/>
                          <path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034v.21Zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791Z"/>
                        </svg>
                    
                    </span>

                        <input type="email" class="form-control" id="userEmail" name="userEmail" required placeholder="Enter email">

                    </div>
                  </div>

                  </div>

                  <div class="mb-3">
                    <label for="password" class="form-label">Password</label>  
                    <div class="input-group mb-3">
                     <span class="input-group-text" id="basic-addon1"> 
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                        <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                      </svg>
                      </span> 
                     <input type="password" class="form-control" id="password" name="password" required placeholder="Enter password">
                    </div>
                  </div>
                 
                  <div class="form-btn">
                    <button type="submit" class="btn btn-primary" name="btn">Submit</button>
                    <button type="reset" class="btn btn-secondary">Clear</button>
                  </div>
                </form>

                Already have account, <a href="{% url 'Test:login' %}">Click Hear</a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{%endblock content%}
