{% extends 'main.html' %}

{% block title %} upload question {% endblock title %}

{%block top %} 
   
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'Test:home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'Test:logout' %}">Logout</a>
          </li>
        </ul>
    </div>
{% endblock top%}

{%block msg %}
    {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show " id="success-alert" role="alert">
        
        <div class="msg-text">{{message}} <strong>{{ request.session.name }}</strong>  </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
  {% endfor %}
{% endblock msg%}

{%block content %}
    
     <div class="uploadPage">
        <h3> Add your Question </h3>
        <form class="upload-page-form" action="" method="post" enctype = "multipart/form-data">
            {% csrf_token %}

            <div class="input-field">
            <label for="title">Question Title : </label>
            <input type="text" name = title required placeholder="Enter Title">
            </div>

            <div class="input-field">
            <label for="ans">Answer : </label>
            <input type="text" name = ans required placeholder="Enter Option (a,b,c,d)" >
            </div>

            <div class="input-field">
            <label for="img">Image : </label>
            <input type="file" name = img required>
            </div>
            <div class="btn-field">
            <input type="submit" value="Submit">
            <input type = "reset" value = "Clear">
            </div>
        </form>
        </div>
{%endblock content%}
